
div.container {
    height: 100%;
    background: #191970;
    margin-top: 100px;

}

div.titulo {
    font-size: 15px;
    background-color:white;
    text-align: center;
    position: relative;
    padding-right: 15px;

}

div.coluna1 {
    width: 38%;
    float:left;
    background-color: #191970;
    font-size: 15px;
    text-align: center;
    padding: 50px 10px 10px 0px;
    min-width:40vw;
    color: white;
    
    margin-top: -50px;

}

div.coluna2 {
    

    width: 38%;
    float:right;
    background-color: #191970;
    font-size: 15px;
    text-align: center;
    padding: 50px 10px 10px 50px;
    min-width:15px;
    
    margin-top: -50px;
    color: white;
}
.clean{
clear: both;
}
.direitos{
    text-align: center;
}

