.carousel {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}

.carousel h1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 4rem;
}

.carousel-1{ 
    background-color: red;
    display: none;
}
.carousel-2{ 
    background-color: blue;
    display: none;
}
.carousel-3{ 
    background-color: green;
    display: none;
}

.carousel:target{
    display: block;
}
.btnFrontCarousel {
    background-color: rgba(0,0,0,0.5);
    width: 100px;
    height: 100%;
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btnBackCarousel {
    background-color: rgba(0,0,0,0.5);
    width: 100px;
    height: 100%;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
