html {
  scroll-behavior: smooth;
} 

.nav-bar {
  background: #191970;
  margin: auto;
  padding: 17px;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4rem;
  color: #add8e6;
  margin-bottom: 13px;
}

nav a {
  transition: color 0.3s ease;
  color: #add8e6;
  text-decoration: none;
}

nav a:hover {
  color: #87cefa;
  cursor: pointer;
}

.img-logo {
  width: 50px;
}

.inner-wrapper {
  margin: auto;
  margin-bottom: -40px;
  width: calc(100% - 20px);
}


@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .inner-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}
